{
  "root": true,
  "extends": ["standard", "plugin:prettier/recommended", "prettier/standard"],
  "plugins": ["html"],
  "env": {
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "printWidth": 120
      }
    ]
  }
}
