{
  "root": true,
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": { "ecmaVersion": 2018 },
  "rules": {
    "eqeqeq": "error",
    "no-shadow": "error",
    "no-unreachable": "error",
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": ["./tsconfig.json"] },
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "no-unreachable": "error",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "error",
        "@typescript-eslint/no-misused-promises": ["error", { "checksVoidReturn": false }],
        "@typescript-eslint/prefer-optional-chain": "warn",
        "@typescript-eslint/prefer-nullish-coalescing": "warn",
        "@typescript-eslint/no-unnecessary-condition": "error",
        "@typescript-eslint/strict-boolean-expressions": [
          "error",
          {
            "allowNullableBoolean": true,
            "allowNullableString": true,
            "allowNullableNumber": true
          }
        ]
      }
    }
  ]
}
