version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.0

jobs:
  build:
    docker:
      - image: cimg/node:lts-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-firefox
      - checkout
      - restore_cache:
          name: Restore dependencies cache
          key: dependencies-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save dependencies cache
          key: dependencies-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/Cypress
            - node_modules
      - run:
          name: Check types
          command: yarn type-check
      - run:
          name: Lint JS and CSS code
          command: yarn lint
      - run:
          name: Build extension for Chrome and Firefox
          command: yarn build:test
      - run:
          name: Run tests on Firefox
          command: yarn test:firefox

workflows:
  version: 2
  commit:
    jobs:
      - build
  nightly:
    triggers:
      - schedule:
          cron: "0 7 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
