/* position the icon correctly in file explorer */
[aria-labelledby="files"].js-navigation-container > .Box-row.js-navigation-item [role="rowheader"] {
  display: flex;
  justify-content: space-between;
}

.tree-item-file-name {
  display: flex;
  justify-content: space-between;
}

.file-header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* position the icon correctly in file explorer and hide it */
.open-in-ide-icon-file-explorer {
  margin-left: 5px;
  visibility: hidden;
}

/* center vertically the icon and show pointer */
.open-in-ide-icon {
  display: flex;
  align-items: center;
  z-index: 1000; /* Put the icon on top to avoid staying behind other tags */
}

.open-in-ide-icon > img {
  cursor: pointer;
  height: 16px;
}

/* show the icon when cursor hovers over the row */
.js-navigation-item:hover .open-in-ide-icon-file-explorer {
  visibility: unset;
}

/* position the icon correctly when the 'outdated' label is visible */
.Label + .open-in-ide-icon {
  margin-left: 2px;
}

.tree-item-file-name:hover .open-in-ide-icon-file-explorer {
  visibility: unset;
}

/* position the icon correctly instead of the file number */
td.blob-num .open-in-ide-icon {
  justify-content: flex-end;
  margin-top: 1px;
}

a.js-open-in-ide-icon-added .open-in-ide-icon {
  justify-content: flex-end;
  margin-top: 1px;
}

/* hide the icon when cursor doesn't hover over the row */
tr:not(:hover) td.blob-num .open-in-ide-icon {
  display: none;
}

a:not(:hover) .open-in-ide-icon {
  display: none;
}

/* hide the line number when cursor hovers it */
a.js-open-in-ide-icon-added:hover:before {
  display: none;
}

/* In Gitlab re-extend the tree view to avoid shrinking */
.tree-holder .tree-item .tree-item-file-name {
  max-width: 100%;
}
