/* position the icon correctly in file explorer */
[aria-labelledby="files"].js-navigation-container
  > .Box-row.js-navigation-item
  [role="rowheader"] {
  display: flex;
  justify-content: space-between;
}

/* position the icon correctly in file explorer and hide it */
.open-in-ide-icon-file-explorer {
  margin-left: 5px;
  visibility: hidden;
}

/* center vertically the icon and show pointer */
.open-in-ide-icon > img {
  cursor: pointer;
  vertical-align: middle;
  height: 16px;
}

/* show the icon when cursor hovers over the row */
.js-navigation-item.navigation-focus .open-in-ide-icon-file-explorer {
  visibility: unset;
}

/* position the icon correctly when the 'outdated' label is visible */
.Label + .open-in-ide-icon {
  margin-left: 2px;
}

/* position the icon correctly instead of the file number */
.file td.blob-num.js-linkable-line-number .open-in-ide-icon {
  position: relative;
  bottom: 1px;
}

/* hide the icon when cursor doesn't hover over the row */
.file tr:not(:hover) td.blob-num.js-linkable-line-number .open-in-ide-icon {
  display: none;
}
